:root {
  --main-font: "lores-12", sans-serif;
}

/* ----- << Global Settings >> -----*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body & Containers */

body {
  font-size: 10px;
  width: 100%;
  background-color: #651522;
  background-image: url("../images/snowbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Lores-12, sans-serif;
  overflow-y: scroll;
}
body.code {
  overflow-y: hidden;
}

/* Navbar */

.navbar {
  height: 15vh;
  background-color: rgba(98, 22, 34, 0.25);
  backdrop-filter: blur(3px) saturate(105%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation #logo {
  color: rgb(248, 197, 31);
  text-transform: uppercase;
  font-display: swap;
  margin-left: 3vw;
  font-size: 5.5vh;
  font-weight: bold;
  text-shadow:
    0.09rem 0 black,
    0 0.09rem black,
    -0.09rem 0 black,
    0 -0.09rem black,
    -0.09rem -0.09rem black,
    -0.09rem 0.09rem black,
    0.09rem -0.09rem black,
    0.09rem 0.09rem black;
}

/* Main */

#main-content {
  padding-top: 5vh;
}

.description_section {
  padding-top: 2rem;
  margin-bottom: 5rem;
  color: #f2f3f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(98, 22, 34, 0.9);
  backdrop-filter: blur(2px) saturate(105%);
  -webkit-backdrop-filter: blur(2px) saturate(105%);
}

.description_title {
  font-weight: 900;
}

.description_paragraph {
  width: 90%;
  text-align: center;
  font-size: 1.5rem;

  border-radius: 1rem;
  padding: 1.5rem;
}

.calendar_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards Holder */
.cards_holder {
  padding: 0;
  list-style-type: none;
  max-width: 80vw;
  text-align: center;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-flow: dense;
  gap: 5rem;
}

.door_holder {
  justify-self: center;
  font-weight: 400;
  background-color: #f2f3f8;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: inline-block;
  color: #111;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  width: 10.625rem;
  height: 13.75rem;
  border-top: 2px #111 solid;
  border-right: 2px #111 solid;
  border-bottom: 2px #111 solid;
  border-left: 1px #111 solid;
  line-height: 100px;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.13);
}

.door {
  user-select: none;
  color: #fff;
  font-size: 4.5rem;
  position: absolute;
  top: -1%;
  left: 0;
  background-color: #285b52;
  box-sizing: border-box;
  border-top: 2px #111 dashed;
  border-right: 2px #111 dashed;
  border-bottom: 2px #111 dashed;
  border-left: 1px #111 solid;
  border-radius: 0.5rem;
  padding-top: 1rem;
  width: 10.625rem;
  height: 13.75rem;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.open {
  color: #fff;
  box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2);
  transform: rotate3d(0, 1, 0, -98deg);
  color: #285b52;
}

/* Code window */
#code-window-wrapper {
  display: none;
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

#code-window-wrapper.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#code-window {
  position: relative;
  margin-top: 3rem;
  background-color: #f2f3f8;
  max-width: 70vw;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 0.8rem;
}

.code-wrapper {
  padding: 3rem;
}

.code-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-content.show,
#code-header.code-content {
  display: flex;
}

#close-code-window {
  position: absolute;
  font-family: sans-serif;
  top: 1rem;
  right: 1rem;
  line-height: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

#challenge-title {
  font-size: 2rem;
  font-weight: bold;
}

#challenge-description {
  font-size: 1.5rem;
  padding: 2vh 0;
}

.code-pane {
  resize: none;
  font-size: 2rem;
  padding: 1em;
  border-radius: 0.4rem;
  width: 100%;
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 0.4rem;
}

.btn_submit {
  margin-top: 2vh;
  background-color: #651522;
  color: #fff;
  border: none;
  outline: none;
}

.btn_submit:hover {
  background-color: #651522d3;
  color: #fff;
}

.btn_submit:focus {
  outline: none;
}

/* Footer */
footer {
  padding-top: 3rem;
  background-color: rgba(98, 22, 34, 0.9);
  backdrop-filter: blur(2px) saturate(105%);
  -webkit-backdrop-filter: blur(2px) saturate(105%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

}

.contact__title {
  color: #fff;
  font-size: 2rem;
}

.contact__name {
  color: #f8c51f;
  text-transform: uppercase;
  font-display: swap;
  margin-left: 3vw;
  font-size: 5.5vh;
  font-weight: bold;
  text-shadow:
    0.09rem 0 black,
    0 0.09rem black,
    -0.09rem 0 black,
    0 -0.09rem black,
    -0.09rem -0.09rem black,
    -0.09rem 0.09rem black,
    0.09rem -0.09rem black,
    0.09rem 0.09rem black;
}


.links_holder {
  max-width: 80%;
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-flow: dense;
  gap: 5rem;
}

.contact__github {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__github a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.image_holder {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.coder_name {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  #code-window {
    max-width: 90vw;
  }
}