:root{
  --main-font:"lores-12",sans-serif;
}
/* Body & Containers */

body {
  font-size: 10px;
  background: url('../images/snowbg.svg') no-repeat fixed;
  font-family: Lores-12, sans-serif;
}

.container-fluid,
.container,
.row {
  margin: 0;
}

/* Navbar */

.navbar {
  height: 15vh;
  background-color: rgba(0,0,0, 0);
  backdrop-filter: blur(3px) saturate(105%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  z-index: 9999;
}

#navigation #logo {
  color: rgba(211, 57, 67);
  text-transform: uppercase;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 4rem;
  text-shadow:
      0.04rem 0 black,
      0 0.04rem black,
      -0.04rem 0 black,
      0 -0.04rem black,
      -0.04rem -0.04rem black,
      -0.04rem 0.04rem black,
      0.04rem -0.04rem black,
      0.04rem 0.04rem black;
}

/* Main */

#main-content {
  padding-top: 20vh;
  height: 100vh;
}

ul {
  margin: 0 auto 30px auto;
  padding: 0;
  list-style-type: none;
  max-width: 900px;
  width: 100%;
  text-align: center;
  user-select: none;
}

li {
  font-weight: 400;
  background-color: #f2f3f8;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  color: #111;
  cursor: pointer;
  font-size: 26px;
  padding: 15px;
  margin: 25px 12px;
  width: 170px;
  height: 220px;
  border-top: 2px #111 solid;
  border-right: 2px #111 solid;
  border-bottom: 2px #111 solid;
  border-left: 1px #111 solid;
  line-height: 100px;
  text-align: center;
  position: relative;
  vertical-align: top;
  user-select: none;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
}
  
.door {
  user-select: none;
  color: #fff;
  font-size: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #285b52;
  box-sizing: border-box;
  border-top: 2px #111 dashed;
  border-right: 2px #111 dashed;
  border-bottom: 2px #111 dashed;
  border-left: 1px #111 solid;
  border-radius: 6px; padding: 15px;
  width: 170px;
  height: 220px;
  transform-origin: 0 40%;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}
  
.open {
  color: #fff;
  box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2);
  transform: rotate3d(0, 1, 0, -98deg);
}

/* Footer */

footer {
    height: 33vh;
    background-color: transparent;
}